.header
{
    display: flex;
    width:100%;
    height: 60px;
    background-color:rgb(40, 81, 170);
}
.header div
{
    padding-left:90px;
    color:white;
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.explore{
    font-size: medium;
    font-weight: normal;
   color:yellow;
}
nav{
    display: flex;
}
nav a{
    margin-left: 90px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.menu
{
    width:100%;
    height: 50px;
}
.head
{display: flex;
    margin-left: 50px;
}
.dropdown
{
    width:170px;
    height: 30px;
    font-size: 17px;
}

